.timer-button {
    padding: 10px;
    color: white;
    transition: background-color 0.3s;
}

.timer-button:hover {
    background-color: #0096FF;
}

.menu-entry {
    border-raidus: 3px;
    padding: 5px;
}

.menu-icon {
    padding: 10px;
    color: white;
}
